<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Authentification</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content >
  <ion-img src={{home.img}}></ion-img>


  <form #f="ngForm" (ngSubmit)="onLogin(f.value)" style="margin-top: -120px; width: 400px;" class="form-group">

    <ion-label color="light" style="font-family: 'andalus'; font-size:20px">Email : </ion-label>

    <ion-input name="email" class="form-control" ngModel placeholder="Enter your  Email"></ion-input>

    <ion-label color="light" style="font-family: 'andalus'; font-size:20px" >Password : </ion-label>
    
    <ion-input type="password" name="password" class="form-control" ngModel  placeholder="Enter your Password"></ion-input>


    <ion-button color="warning" type="submit">Sign in !</ion-button>

  </form>

  <ion-img src={{home.img}} style="margin-top: -50px"></ion-img>

  <ion-item (click)="onurl()">
    <ion-label color="danger" style="font-size:20px; font-family: 'Courier New'; ">check your location here !</ion-label>
  </ion-item>

</ion-content>
