<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
         AppGEO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <hr style="border: 10px; background-color: darkgoldenrod;" color="secondary"> 
  <hr style="border: 10px; background-color: darkgoldenrod;" color="secondary"> 

  <ion-img style="margin-top: 60px;"  src={{home.img}}></ion-img>

  <hr style="border: 10px; background-color: darkgoldenrod;" color="secondary"> 
  <hr style="border: 10px; background-color: darkgoldenrod;" color="secondary"> 

  <ion-text color="dark" style="font-family:monospace; text-align: center;">
    <h1>{{home.name}}</h1>
  </ion-text>
</ion-content>
